/* https://github.com/WebDevSimplified/JavaScript-Quiz-App i used this heavily for help in trying to get the quiz to work*/


*, *::before, *::after {
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;
  align-items: center;
  margin: 2px;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
}


.start-btn {
  align-items: center;
  text-align: center;
}

.question-area {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: orange;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  outline: black;
}

.btn:hover {
  border-color: white;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

ul {
  text-decoration: none;
  color: white;
  list-style: circle;
  text-align: left;
}

h1 {
  text-align: center;
}

h2 {
  color: white;
}

h3 {
  color: yellow;
  font-family: Arial, Helvetica, sans-serif;
}

#question {
  color: white;
}

#rules-btn {
  border:14px;
  border-color:blue;
  height: 150px;
  width: 150px;
  background-color: white;
  color: blue;
  cursor: pointer;
}

button {
  cursor: pointer;
}


#next-btn {
  
  background-color: yellow;
  color: black;
}

@media only screen and (max-width: 320px) {
  * {
    width: 80%;
    margin: 5px ;
    margin-right:5px;
  }
}

.displayscore {
  font-size: 18pt;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.homescreen {
  text-align: center;
}

.retrybtn {
  text-align: center;
  align-items: center;
  color: blue;
  background-color: white;
}