body {
    background-color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 12pt;
    background-color: white;
    color: black;
    font-family: sans-serif;
    align-items: center;
    text-align: center;
}

.btn {
    cursor: pointer;
}

.btn:hover {
    background-color: orange;
    color: black;

}

.the-rules {
    color: white;
    background-color: pink;
    font-family: sans-serif;
}

.rules-box {
    font-size: 12pt;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border:4px white solid;
    background-color: green;
    width: 320px;
    color: white;

}


.hide {
	display: none;
   
}


